body{
    text-align: center;
    align-items: center;
    background-color: #FCF8E8;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Rubik', sans-serif
}
h1{
    padding-top: 25px;
    padding-bottom: 25px;
}

#add, #pending, #done{
    padding-bottom: 25px;
    border: #d1ecf1 solid 5px;
    text-align: center;
}

button:hover{
    background-color: #269aff;
    color: white;
}

@media (max-width: 1000px) {
    h3, h1{
        font-size: small;
    }
}

/* CREDIT TO https://alvarotrigo.com/blog/css-text-animations/  FOR THE BELOW STYLE */
/* THIS PART OF THE CODE IS BORROWED IN AN ATTEMPT TO MAKE THE CODE MORE PRESENTABLE*/
/* REALLY ANIMATES THE WEBSITE'S SIMPLICITY */
h1{
    text-transform: uppercase;
    background-image: linear-gradient(
     -225deg,
     #231557 0%,
     #44107a 29%,
     #ff1361 67%,
     #fff800 100%
   );
   background-size: auto auto;
   background-clip: border-box;
   background-size: 200% auto;
   color: #fff;
   background-clip: text;
   fill: transparent;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   animation: textclip 2s linear infinite;
   display: inline-block;
   font-size: 2.25rem;
  }
  
  @keyframes textclip {
   to {
     background-position: 200% center;
   }
  }